@import (reference) '../../site.less';

#footer {
  margin-top: 30px;

  h1, h3 {
    color: @medium-gray;
  }

  .foot-nav {
    background-color: @gravel;
    .collapsed {
      .dropdown-menu {
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        a {
          color: #333;
          padding: 3px 20px;

          &:hover {
            background-color: @yellow;
            color: @white;
          }
          &:active {
            background-color: @orange;
            color: @white;
          }
        }
        li.active > a {
          color: #333;
          background-color: #e7e7e7;

          &:hover {
            background-color: @yellow;
            color: @white;
          }
        }
      }
    }
    .expanded ul {
      li {
        float: left;
        list-style-type: none;

        a {
          margin: 15px 0;
          padding: 15px;
          font-size: 18px;
          line-height: 18px;
          color: #ccc;
          border-radius: 8px;

          &:hover {
            background-color: @yellow;
            color: @white;
          }
          &:active, &:focus {
            background-color: @orange;
            color: @white;
          }
        }
      }
    }
  }
  .columns {

    .foot-col {
      margin-bottom: 25px;
      text-align: center;

      .col-body {
          margin-top: 10px;
      }
    }
  }
  .social-icons {
    margin-top: 15px;

    a {
      margin: 0 3px;
    }
    i {
      font-size: 40px;
      line-height: 40px;
    }
    .copyright {
      padding: 24px 0 6px;
      font-size: 10px;
      line-height: 10px;
      background-color: @light-gray;
      color: @medium-gray;
      text-align: center;
    }
  }


  .dropdown-toggle {
    margin-bottom: 0;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 4px;

    .icon-bar {
      display: block;
      width: 35px;
      height: 3px;
      margin-top: 0;
      background-color: #777;
    }
    .icon-bar ~ .icon-bar {
      margin-top: 6px;
    }
    &:hover .icon-bar {
      background-color: #e57200;
    }
  }
}
#foot-ddl-nav {
  padding: 9px 10px;


  & > span {
    display: none;
  }
}
@media (max-width: 767px) {
  #footer {
    .ttl {
      text-align: center;
    }
    .footer-col {
      text-align: left;
    }
  }
}
#seattle-skyline {
  float: right;
  min-width: 300px;
}
