.sky-image-board {
  min-height: 250px;

  .frame {
    padding: 0;
    overflow: hidden;
  }
  .frame:first-child {
    padding-left: 15px;
  }
  .frame:last-child {
    padding-right: 15px;
  }
  .row {
    margin-bottom: 0;
  }
  img {
    width: 100%;
    height: auto;
    margin: auto;
  }
}
