#billing {
  .tbl {
    display: table;

    .tbl-row {
      display: table-row;

      &.head {
        font-weight: bold;
      }
      & > div {
        padding: 5px 20px;
        display: table-cell;
        text-align: right;
        font-size: 16px;
        line-height: 20px;

        &.money {
          text-align: right;
        }
        &.link {
          width: 99%;
          text-align: left;
        }
      }
      .paypal-wrap {
        text-align: left;
      }
    }
  }
}
@media (min-width: 992px) {
  #billing {
    .tbl {
      .tbl-row > div{
        padding: 5px 40px;
      }
    }
  }
}
@media (max-width: 767px) {
  #billing {
    .tbl {
      .tbl-row {

        & > div.date {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 479px) {
  #billing {
    .tbl {
      .tbl-row {
        padding: 5px;

        & > div.id {
          display: none;
        }
      }
    }
    .pay-now {
      margin-left: -200px;
    }
  }
}


fieldset {
  padding: 15px 10px 10px;
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  legend {
    display: inline;
    margin: 0;
    width: auto;
    border-bottom: none;
  }
  h1, h2, h3, h4 {
    display: inline;
  }
}
