@{
    ViewBag.Title = "Client Testimonials";
}
@section meta_tags
{
    <meta name="description" content="People love working with Skyberry Studio in Bothell Washington!  Read our clients testimonials to see for yourself." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}


<div class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>Client Testimonials from Featured Projects</h1>
        <p>Our clients are happy clients! Over the years, we've had the opportunity to work with some great people, and we're overjoyed by some of the great things they've said about us.  Here is a sampling of the what others have said about us.</p>
    </div>
    <div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5">
            <a href="http://www.theoriginalphotobooth.com" target="_blank"><img src="~/images/clients/testimonial-web-design-theoriginalphotobooth.png" alt="Website Design and web development by Skyberry Studio&trade;, visit The Original Photo Booth online" /></a>
        </div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>The Original Photo Booth, <em>Portland OR USA</em><br />Photo Booth rentals for Oregon and Washington</p>
            <h3>The project</h3>
            <p>Retro inspired website design and logo design plus web development.</p>
            <h3>What our client had to say</h3>
            <p>"We love it!!!!!! Love the logo, love the blue, love the sign for event photos, LOVE LOVE LOVE IT!! It's exactly what we wanted, fun, original, and professional."<em> - Christy Vance, Owner</em></p>
        </div>
    </div>
    <div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-print-design-strideline.png" alt="Apparel design by Skyberry Studio&trade;, Strideline Spokane crew socks skyline design" /></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Strideline, <em>Spokane WA USA</em><br />The New Crew socks highlighting American cities</p>
            <h3>The project</h3>
            <p>Design of skylines for major cities to be used on Strideline Crew Socks including Spokane WA (showing), Salt Lake City UT, Denver CO and Phoenix AZ.</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-strideline.png" alt="Sam Talkington of Strideline" class="client" />"Going to be a knockout! Looks fantastic! Thank you so much for your time."<em> - Sam Talkington, Owner</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5">
            <a href="http://www.nitroknitters.com" target="_blank"><img src="~/images/clients/testimonial-web-design-nitroknitters.png" alt="Website Design and web development by Skyberry Studio&trade;, visit Nitro Knitters online" /></a>
        </div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Nitro Knitters, <em>Beaverton OR USA</em><br />Yarn shop & knitting school</p>
            <h3>The project</h3>
            <p>E-Commerce website design, web development, content management system (CMS) & Shopify online store development. Brand identity development (logo design, mascot illustration, stationary, signage & promotional products). Social media start-up and search engine optimization (SEO).</p>
            <h3>What our client had to say</h3>
            <p>"You are so talented with your ideas. I really appreciate your guidance and professional opinion."<em> - Elisabeth Kierkegaarde, Owner</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-web-design-drillcapital.png" alt="Website Design and web development by Skyberry Studio&trade;" /></a>
        </div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Drill Capital, <em>New York NY USA</em><br />Investment firm focusing on the energy sector</p>
            <h3>The project</h3>
            <p>Website design, web development, logo design & stationary.</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-faridguindo.png" alt="Farid Guindo of Drill Capital" class="client" />"The team at Skyberry did a great job from start to finish in managing the process. I would recommend their services."<em> - Farid Guindo, Founder & President</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-print-design-offyourplatemeals.png" alt="Logo and Business Card Design by Skyberry Studio&trade;" /></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Off Your Plate Meals, <em>Portland OR USA</em><br />Personal Chef focusing on South American and Thai cuisine</p>
            <h3>The project</h3>
            <p>Logo and business card design.</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-offyourplatemeals.png" alt="Emily Schoonmaker of Off Your Plate Meals" class="client" />"Beautiful work! I am so impressed with your ability to synthesize and actualize the concepts I gracelessly plunked down on your consultation form; despite my clunky efforts, you were able to read my mind and produce not one, but three really viable logos on the first go! Thank you; the whole logo is very whimsical, playful, and unique while still maintaining a distinct and professional cleanliness, I'm really happy."<em> - Emily Schoonmaker, Personal Chef</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-web-design-lazyshopper.png" alt="Web Design and Development by Skyberry Studio&trade;" /></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>LazyShopper, <em>Lake Oswego OR USA</em><br />Online shopping service to find the best deals & coupons</p>
            <h3>The project</h3>
            <p>Website design and development, database development, content management system (CMS), copywriting & brand identity development (logo design and tagline creation).</p>
            <h3>What our client had to say</h3>
            <p>"We are really happy with the website! You have done an outstanding job! It's been a pleasure working with you two and thank you both for your snappy responses to both email and phone calls! Much appreciated!!"<em> - Michael Ramsaur, Co-Founder</em></p>
        </div>
    </div>
    <div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><a href="http://www.portlandneurosurgery.com" target="_blank"><img src="~/images/clients/testimonial-web-design-portlandneurosurgery.png" alt="Website Design and business card designed by Skyberry Studio&trade;, visit Portland Neurosurgery online" /></a></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Portland Neurosurgery, <em>Portland OR USA</em><br />Medical offices of Dr. Jeffrey P. Johnson</p>
            <h3>The project</h3>
            <p>Website design and development of secure HIPAA compliant patient portal, where patients can go to complete paperwork, pay bills, view x-rays and read chart notes from their doctor. Brand development (logo design, stationary & collateral).</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-portlandneuro.png" alt="Lauri Dayton of Portland Neurosurgery" class="client" />"Thanks so much for all your great talent and work. Dr. Johnson sure is happy with the way the patient portal looks. You're a great team. Thanks so much. We appreciate it."<em> - Lauri Dayton, Office Manager</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-print-design-pulsestorm.png" alt="Magento Icons designed by Skyberry Studio&trade;" /></a></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Pulse Storm, <em>Portland OR USA</em><br />Magento extension developer</p>
            <h3>The project</h3>
            <p>Design of Magento icons for Magento apps. Brand development (logo design).</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-alanstorm.png" alt="Alan Storm of Pulse Storm" class="client" />"You made something boring a little fun without losing professionalism. Really nice work. Thanks again."<em> - Alan Storm, Developer</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><a href="http://www.annalancasterfineart.com" target="_blank"><img src="~/images/clients/testimonial-web-design-annalancasterfineart.png" alt="Website Design and Development by Skyberry Studio&trade;, visit Anna Lancaster Fine Art online" /></a></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Anna Lancaster Fine Art, <em>Tualatin OR USA</em><br />Fine Artist and Instructor</p>
            <h3>The project</h3>
            <p>Website design and development, including a database driven portfolio of over 100 pieces of fine art. Other services provided; search engine optimization, plus social media set-up, customization and management.</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-anna-lancaster.png" alt="Anna Lancaster of Anna Lancaster Fine Art" class="client" />"It is just perfect. Everything I had hoped for."<em> - Anna Lancaster, Artist & Owner</em></p>
        </div>
    </div>
	<div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-print-design-brandnode.png" alt="Postcard, Business Card and Poster designed by Skyberry Studio&trade;" /></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Brand Node&trade;, <em>Portland OR USA</em><br />Exclusive North American distributor of retail products from around the world</p>
            <h3>The project</h3>
            <p>Brand development (logo design & stationary), catalogs, postcards, product displays, advertisements, web icon sets & web graphics.</p>
            <h3>What our client had to say</h3>
            <p>"Great! You captured the connectivity. These are awesome, very cool, we love them. Thanks for your help and pleasure working with you."<em> - Jeroen Kuiper, Owner</em></p>
        </div>
    </div>
    <div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><img src="~/images/clients/testimonial-print-design-yourpetsbestfriend.png" alt="Logo and Business Card designed by Skyberry Studio&trade;" /></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Your Pet's Best Friend, <em>Hillsboro OR USA</em><br />Dog walking and pet sitting</p>
            <h3>The project</h3>
            <p>Logo, illustration and business card design</p>
            <h3>What our client had to say</h3>
            <p>"We love your work. You absolutely nailed it!!! The dog's face is priceless and the cat is adorable. Just what I had in mind. Thank you again for doing such a great job."<em> - Sara Walters, Office Assistant</em></p>
        </div>
    </div>
    <div class="col-xs-12 pull-left testimonial">
        <div class="col-xs-5"><a href="http://www.riehlsports.com" target="_blank"><img src="~/images/clients/testimonial-web-design-riehlsports.png" alt="Website and Business Card by Skyberry Studio&trade;" /></a></div>
        <div class="col-xs-7">
            <h3>The client</h3>
            <p>Riehl Sports Management LLC, <em>Portland OR USA</em><br />Premier full-service sports management firm</p>
            <h3>The project</h3>
            <p>Brand development (Logo design & business cards), website design and development, Twitter feed widget & social media consulting.</p>
            <h3>What our client had to say</h3>
            <p><img src="~/images/clients/client-riehlsports.png" alt="Joe Riehl of Riehl Sports Management LLC" class="client" />"Just wanted to say that I am absolutely thrilled with the logo you have come up with. I am ecstatic! Couldn't be more impressed with the way you run your business. Your customer service is second to none. Seriously, you should teach a class on how to run a company. You are amazing! Thanks again, I absolutely love it!"<em> - Joe Riehl, Founder & Client Manager</em></p>
        </div>
    </div>
</div>
