@{
    ViewBag.Title = "Graphic Design and Logo Design Bothell Washington";
}
@section meta_tags
{
    <meta name="description" content="Professional graphic design and logo design in Bothell Washington, just northeast of Seattle." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM("Creative"))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM("Creative"))
}


<div id="creative-services" class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>creative services</h1>
    </div>

    <div class="col-xs-12 pull-left">
        <div class="col-xs-5">
            <div class="row">
                <table class="tbl-seal-horz">
                    <tr>
                        <td><img src="~/images/seal-logodesign.png" /></td>
                        <td>
                            <div class="name">Logo Design</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 pull-left break">
                    <h3>Logo design from branding experts</h3>
                </div>
                <div class="col-xs-12 pull-left">
                    <ul>
                        <li>Three original logo designs within 5 business days</li>
                        <li>Hand-drawn, one of a kind designs & illustrations</li>
                        <li>
                            Delivered professionally
                            <ul>
                                <li>Original vector & ready to use formats</li>
                                <li>Identity guideline with usage information</li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <div class="row">
                <table class="tbl-seal-horz">
                    <tr>
                        <td><img src="~/images/seal-graphicdesign.png" /></td>
                        <td>
                            <div class="name">Graphic Design</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h3 class="break">Design to grab your customers</h3>
                <ul>
                    <li>Stationary & Collateral</li>
                    <li>Advertisements & catalogs</li>
                    <li>Illustrations & Web Graphics</li>
                    <li>
                        Delivered professionally
                        <ul>
                            <li>Original vector, ready to use & print ready formats</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pull-left">
        <div class="col-xs-5 col-box">
            <a href="#sec-logo-design" class="scroll" data-scroll="sec-logo-design">Learn More</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5 col-box">
            <a href="#sec-graphic-design" class="scroll" data-scroll="sec-graphic-design">Learn More</a>
        </div>
    </div>
</div>


@section grass
{

    <div id="logo-design" class="container fixed section">

        <div class="col-xs-12 pull-left">
            <h1>logo design</h1>
        </div>
        
        <div class="col-xs-12 pull-left">
            <h3>professional logo design is memorable and inspires trust</h3>
            <p>We aim to build your brand to represent your business in the best possible way, starting with a unique and unforgettable logo. Our logos offer brand longevity and provide your business with a professional image. Our reputation as a top-notch design studio is known worldwide and our work has been published in international logo design books. We cherish the opportunity to design your brand and welcome you as a client. </p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>guaranteed high-end, custom designs</h3>
            <p>You are guaranteed three, custom logo designs to choose from within 5 business days. Our expertise in branding ensures your professionally designed logo will attract and retain loyal customers for your business. </p>
        </div>
        <div class="col-xs-6">
            <h3>delivered professionally</h3>
            <p>All your final logo files are delivered to you in vector format and ready-to-use JPEG and PNG formats. You also receive an identity guideline that includes all your color values, typefaces and other important usage information.</p>
        </div>








        <div class="col-xs-12 pull-left break">
            <h3>let’s get started</h3>
            <p>Send us an email or give us a call.</p>
            <div class="row">
                <div class="col-xs-10">
                    <span>+1 503 272 1022</span><br />
                    <span><a href="mailto:get.started@skyberrystudio.com">get.started@skyberrystudio.com</a></span>
                </div>
            </div>
        </div>
    </div>
}

@section dirt
{
    <div id="graphic-design" class="container fixed section">

        <div class="col-xs-12 pull-left">
            <h1>graphic design</h1>
        </div>

        <div class="col-xs-12">
            <h3>creative design to let you shine</h3>
            <p>We specialize in creating custom graphics for print and web.  Our designs communicate effectively with your target audience, accomplish your goals and give you the edge over your competitors - they also look amazing!</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>hand drawn original designs</h3>
            <p>All our artwork begins with pencil and paper.  We turn our hand sketched drawings into digital vector graphics and then bring them to life with modern color and shading techniques.</p>
        </div>
        <div class="col-xs-6">
            <h3>delivered professionally</h3>
            <p>All your final artwork files are delivered to you in vector format, ready-to-use JPEG and PNG formats, and print-ready formats. You also receive an identity guideline that includes all your color values, typefaces and other important usage information.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div id="graphic-categories" class="col-xs-12 pull-left">
            <div class="row">
                <div class="col-xs-4">
                    <img src="~/images/seal-collateral.png" />
                    <h3>stationary &amp; collateral</h3>
                    <div>
                        <span>Business cards, stationary &amp; forms</span><br />
                        <span>Promotional &amp; marketing material</span><br />
                        <span>Email campaigns &amp; newsletters</span><br />
                        <span>Product labels &amp; packaging</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="~/images/seal-catalog.png" />
                    <h3>advertisements &amp; catalogs</h3>
                    <div>
                        <span>Catalogs &amp; brochures</span><br />
                        <span>Print &amp; digital advertisements</span><br />
                        <span>Retail displays &amp; posters</span><br />
                        <span>Flyers &amp; postcards</span><br />
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="~/images/seal-illustration.png" />
                    <h3>illustration &amp; web graphics</h3>
                    <div>
                        <span>Illustrations &amp; cartoons</span><br />
                        <span>Web graphics &amp; design</span><br />
                        <span>Banner ads &amp; social media covers</span><br />
                        <span>Icon sets, favicons &amp; avatars</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-12 pull-left break">
            <h3>let’s get started</h3>
            <p>Send us an email or give us a call.</p>
            <div class="row">
                <div class="col-xs-10">
                    <span>+1 503 272 1022</span><br />
                    <span><a href="mailto:get.started@skyberrystudio.com">get.started@skyberrystudio.com</a></span>
                </div>
            </div>
        </div>
    </div>
    <img id="worm" src="~/images/worm.png" />
}
