@{
    ViewBag.Title = "Website Design and Web Development Bothell Washington";
}
@section meta_tags
{
    <meta name="description" content="Custom website design and web development, shopping cart websites, and content management systems. Web Development Bothell Washington." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM("Development"))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM("Development"))
}


<div id="development-services" class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>development services</h1>
    </div>

    <div class="col-xs-12 pull-left">
        <div class="col-xs-5">
            <div class="row">
                <table class="tbl-seal-horz">
                    <tr>
                        <td><img src="~/images/seal-website-design.png" /></td>
                        <td>
                            <div class="name">Website Development</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 pull-left break">
                    <h3>stand out and get noticed</h3>
                </div>
                <div class="col-xs-12 pull-left">
                    <ul>
                        <li>Custom & responsive website design & development</li>
                        <li>Three original web designs within 5 business days</li>
                        <li>Search engine optimization (SEO)</li>
                        <li>Social media marketing & blogs</li>
                        <li>Secured extranets & portals</li>
                        <li>Business & data integration</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5">
            <div class="row">
                <table class="tbl-seal-horz">
                    <tr>
                        <td><img src="~/images/seal-software.png" /></td>
                        <td>
                            <div class="name">Software Solutions</div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <h3 class="break">smart design to help you succeed</h3>
                <ul>
                    <li>Content management systems (CMS)</li>
                    <li>Online stores, shopping carts & payment integration</li>
                    <li>Content delivery & distribution</li>
                    <li>Advertising (digital signage & kiosks) development</li>
                    <li>Client relationship management (CRM)</li>
                    <li>Business & data analysis</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pull-left">
        <div class="col-xs-5 col-box">
            <a href="#sec-website-development" class="scroll" data-scroll="sec-website-development">Learn More</a>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-5 col-box">
            <a href="#sec-software-solutions" class="scroll" data-scroll="sec-software-solutions">Learn More</a>
        </div>
    </div>
</div>


@section grass
{

    <div id="website-development" class="container fixed section">
        <div class="col-xs-12 pull-left">
            <h1>website development</h1>
        </div>

        <div class="col-xs-12 pull-left">
            <h3>professional, custom & responsive web design & development</h3>
            <p>Skyberry Studio combines creative talent with technical know-how to produce smart, responsive and user-friendly websites, based on the most up-to-date industry standards &amp; trends. The results will engage and demand your viewers attention. Our sites communicate effectively, are easy to navigate on any device, and provide an online presence you can brag about.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>Guaranteed High-End, Custom Designs</h3>
            <p>You are guaranteed three web designs to choose from within 5 business days. Our creative and development team work closely throughout the entire process, ensuring an easy transition from design mock-up to implementation in your final website.</p>
        </div>
        <div class="col-xs-6">
            <h3>Friendly Support, Even After You Go Live</h3>
            <p>We will walk you through the entire design and development process from the beginning to the end, answering all your questions along the way.  Plus, we won’t disappear after the site goes live. If you need something we are always here to assist you.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>Be a Social Butterfly</h3>
            <p>We'll help you decide which social media platforms are most suitable for your business. Then, we inject your brand into your social media with custom profile pics and cover photos to solidify your brand recognition across platforms. We can even help maximize the potential of existing social media accounts.</p>
        </div>
        <div class="col-xs-6">
            <h3>Increasing Your Search Engine Rank</h3>
            <p>Search Engine Optimization (SEO) can greatly increase your search engine rankings.  You may have the best website in the world, and we want people to see it!  Getting started on increasing your SEO can sometimes be overwhelming but we make it easy!  We will put everything in place to give your website its best chance to be seen online in all major search engines.</p>
        </div>

        

        <div class="col-xs-12 pull-left break">
            <h3>let’s get started</h3>
            <p>Send us an email or give us a call.</p>
            <div class="row">
                <div class="col-xs-12">
                    <span>+1 503 272 1022</span><br />
                    <span><a href="mailto:get.started@skyberrystudio.com">get.started@skyberrystudio.com</a></span>
                </div>
            </div>
        </div>
    </div>
}

@section dirt
{
    <div id="software-solutions" class="container fixed section">
        <div class="col-xs-12 pull-left">
            <h1>software solutions</h1>
        </div>

        <div class="col-xs-12">
            <h3>reaching and empowering your audience by innovation</h3>
            <p>With nearly 20 years experience creating software application, services and tools offering outstanding analysis, design and project management. We specialize in small to medium sized business solutions using primarily Microsoft technologies and are focused on current standards, open source and free software.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>content management systems (CMS)</h3>
            <p>If you want to be in control of your own website and its content, without knowing any coding languages, you need a CMS. Skyberry can build a custom CMS for you or tap into an existing system to meet your content management needs.</p>
        </div>
        <div class="col-xs-6">
            <h3>online stores & shopping carts</h3>
            <p>With expertise in carts like Shopify, we can customize your customers entire online shopping experience from browsing products to checkout. You will also be able to manage all of your products and pages without any coding knowledge.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div class="col-xs-6">
            <h3>serious security and serious design</h3>
            <p>We know how important security is and have done lots of work within the healthcare industry, subject to HIPAA compliance.  We’ve also designed and built management and delivery systems that distribute content to dozens of major airports in the US and other major countries.</p>
        </div>
        <div class="col-xs-6">
            <h3>integration, tools & management</h3>
            <p>We build dashboards to empower our clients to monitor and manage the data that drives their business. We build services that monitor the heartbeat and status of connected hardware. We’ve built custom kiosk authoring and runtime systems that integrate with a whole host of hardware and software.</p>
        </div>

        <div class="col-xs-12 pull-left break"></div>
        <div id="graphic-categories" class="col-xs-12 pull-left">
            <div class="row">
                <div class="col-xs-4">
                    <img src="~/images/seal-content-management.png" />
                    <h3>content management</h3>
                    <div>
                        <span>Content management systems (CMS)</span><br />
                        <span>Client relationship management (CRM)</span><br />
                        <span>Business & data analysis</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="~/images/seal-commerce.png" />
                    <h3>online stores</h3>
                    <div>
                        <span>Shopping carts & POS Integration</span><br />
                        <span>PCI Compliance</span><br />
                        <span>Payment integration</span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <img src="~/images/seal-digital-advertising.png" />
                    <h3>digital advertising</h3>
                    <div>
                        <span>Digital signage & kiosks</span><br />
                        <span>Content delivery & distribution</span><br />
                        <span>Hardware integration & embedded systems</span>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="col-xs-12 pull-left break">
            <h3>let’s get started</h3>
            <p>Send us an email or give us a call.</p>
            <div class="row">
                <div class="col-xs-12">
                    <span>+1 503 272 1022</span><br />
                    <span><a href="mailto:get.started@skyberrystudio.com">get.started@skyberrystudio.com</a></span>
                </div>
            </div>
        </div>
    </div>
    <img id="worm" src="~/images/worm.png" />
}
