@{
    ViewBag.Title = "Skyberry Clients";
}
@section meta_tags
{
    <meta name="description" content="A sampling of some of Skyberry Studio's clients. Working with both local, Bothell Washington businesses and international clients." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}


<div class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>Our Clients</h1>
        <div id="client-list" class="row">
            <div class="col-xs-4">
                <div class="domain">
                    <h3>Art & Entertainment</h3>
                    <div>Abiding Art</div>
                    <div>Anna Lancaster Fine Art</div>
					<div>Op6 Gaming</div>
					<div>Paper Witchcraft</div>
					<div>Tim Jaeger</div>
					<div>The Original Photo Booth</div>
                </div>
                <div class="domain">
                    <h3>Automotive & Construction</h3>
					<div>Divine Concrete LLC</div>
                    <div>E&N Inc.</div>
					<div>Heartstone Inc.</div>
                    <div>Napa Auto Parts</div>
                    <div>NW Car Company</div>
					<div>RiverCity Woodworks</div>
                </div>
                <div class="domain">
                    <h3>Consulting & Services</h3>
                    <div>Apicality Communication</div>
					<div>Blue Water Mondays</div>
					<div>ClanGistics&trade;</div>
					<div>HARD/SPECS</div>
					<div>Keepin' It Clean</div>
					<div>Kuiper Consulting LLC</div>
					<div>LazyShopper&trade;</div>
					<div>Mind Your Move</div>
					<div>Scarab Inc.</div>
					<div>Snap Assistant</div>
					<div>Toolbox 4 Healthcare</div>
					<div>Your Pets Best Friend</div>
                </div>
                <div class="domain">
                    <h3>Education</h3>
                    <div>3rd Man Research</div>
                    <div>Alabama Forensic Educator Association</div>
                    <div>Alabama Speech & Debate</div>
                </div>
                <div class="domain">
                    <h3>Financial & Insurance</h3>
                    <div>Augeo Advisors</div>
                    <div>Drill Capital</div>
					<div>G.B. Bookkeeping</div>
                    <div>Hawkeye Finance LLC</div>
                    <div>Lighthouse Financial Group LLC</div>
					<div>Loan Source Funding LLC</div>
					<div>MindEase Billing LLC</div>
                    <div>Payments Agents</div>
					<div>RDG Capital LLC</div>
                </div>
            </div>
            <div class="col-xs-4">
				<div class="domain">
                    <h3>Food & Beverage</h3>
					<div>Hanno Cocina</div>
					<div>Madeline's Patisserie</div>
					<div>My Chef Party</div>
					<div>My Happy Eatings!</div>
					<div>Off Your Plate Meals</div>
					<div>Redneck Rabbi</div>
					<div>SugarPop Confections</div>
					<div>Tin Bucket</div>
					<div>Yakima Yogurt Shack LLC</div>
					<div>YoCopp LLC</div>
					<div>Yogurt Shack Frozen Yogurt</div>
                </div>
                <div class="domain">
                    <h3>Legal</h3>
                    <div>DTMtax</div>
                    <div>Early, Sullivan, Wright, Gizer & McRae LLP</div>
                    <div>Mitchell, Lang & Smith LLP</div>
                    <div>Reynolds Defense Firm</div>
                    <div>Schwindt Richardson LLC</div>
                </div>
                <div class="domain">
                    <h3>Manufacturing & Wholesale</h3>
                    <div>BrandNode&trade;</div>
					<div>Cascade Clamp</div>
                    <div>Hood River Trading Co. Inc.</div>
                    <div>Lacey-Harmer Co.</div>
                    <div>Oregon Rain Harvesting</div>
                    <div>Seismic Co.</div>
                    <div>Teri Lingerie LLC</div>
                </div>
                <div class="domain">
                    <h3>Medical & Dental</h3>
                    <div>Galco Hearing</div>
					<div>Hearing Associates of Las Vegas</div>
                    <div>Hearing Solutions of Arizona</div>
                    <div>Karyn Hall Ph.D</div>
					<div>Kinetic Therapy & Performance</div>
					<div>Portland Neurosurgery</div>
					<div>Scottsdale Ear, Nose & Throat</div>
                </div>
                <div class="domain">
                    <h3>Non-Profit & Government</h3>
					<div>Bethel Congregational UCC</div>
                    <div>Big Cedar Education Foundation</div>
					<div>ChristWay Community Church</div>
					<div>City of Beaverton</div>
					<div>Onesimus Ministry</div>
                    <div>Walking With Angels</div>
                    <div>Your Next Step</div>
                </div>
            </div>
            <div class="col-xs-4">
				<div class="domain">
                    <h3>Real Estate</h3>
                    <div>BC Property Group</div>
                    <div>Creative Management Co.</div>
                    <div>Hawkeye Development LLC</div>
                </div>
                <div class="domain">
                    <h3>Retail</h3>
					<div>Artebene</div>
					<div>Go Belly Go</div>
					<div>Greenwitch</div>
                    <div>Love Karim - Karim Rashid Accessories</div>
                    <div>Nitro Knitters</div>
					<div>Northwest Man Cave</div>
					<div>Paperthinks&trade;</div>
					<div>Presto!</div>
					<div>Strideline</div>
					<div>Ten Design Stationary</div>
					<div>Tiny Volcano</div>
					<div>Troika</div>
                </div>
                <div class="domain">
                    <h3>Technology</h3>
					<div>DesignOBot&trade;</div>
                    <div>Pulse Storm LLC</div>
                </div>
                <div class="domain">
                    <h3>Travel & Sports</h3>
                    <div>Catalyst Purple</div>
                    <div>Moonview</div>
                    <div>NBA Prospects</div>
					<div>RealTime Draft</div>
					<div>Riehl Sports Management LLC</div>
                </div>
                <div class="domain">
                    <h3>Wedding Couples</h3>
                    <div>Jason & Rachael Barvitz</div>
                    <div>Tim & Marchelle Nicholson</div>
                </div>
            </div>
        </div>
    </div>
</div>
