@{
    ViewBag.Title = "Support &amp; Frequently Asked Questions";
}
@section meta_tags
{
    <meta name="description" content="Support & frequently asked questions pertaining to Skyberry Studio, design & development in Bothell Washington." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}





<div class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>Support &amp; FAQ</h1>
        <p>Look here for helpful links, advise, and answers to commonly asked questions.</p>
    </div>
    <div class="col-xs-12 pull-left break">
        <div class="row">
            <div class="col-xs-4">
                <h3>Get in touch</h3>
                <p>
                    Skyberry Studio<br />
                    Bothell, Washington 98012 USA
                </p>
                <p>
                    +1 503 272 1022<br />
                    <a href="#mailto:support@skyberrystudio.com">support@skyberrystudio.com</a>
                </p>
            </div>
            <div class="col-xs-4">
                <h3>Account recovery</h3>
                <p>If you are unable to access your account, please contact us at <a href="mailto:accounts@skyberrystudio.com">accounts@skyberrystudio.com</a>.</p>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h2 class="q">Frequently Asked Questions</h2>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">I want to work with Skyberry Studio, how do we get started?</h3>
        <div class="a">We thank you for choosing Skyberry Studio and we welcome the opportunity to have you as a client.  Frist, we will discuss your project details, scope & timeframe with you.  Once we have a clear idea of the project, we will provide you with an estimate. Prior to any work commencing, we require a signed agreement and down payment, typically 50% of the total estimated project cost. Contact us if you are ready to get started on your project by emailing us <a href="#mailto:get.started@skyberrystudio.com">get.started@skyberrystudio.com</a> or by phone +1 503 272 1022.</div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">Why is it so important for my business to have a logo?</h3>
        <div class="a">A logo is the solid foundation you will use to build your brand and is an immediate representation of your business.  Skyberry Studio staffs brand identity experts and award winning logo designers and can ensure your foundation is stable.  Professional logo design is original, offers your brand longevity, gives you a professional image, inspires trust and most importantly, is memorable.</div>
    </div>
	
	
	<div class="col-xs-12 pull-left break">
            <h3>What can I expect from the logo design process?</h3>
            <p>Our process is simple and fine tuned from years of experience.</p>
        </div>

        <div class="col-xs-12 pull-left">
            <table id="tbl-design-process">
                <tr>
                    <td><i class="icon-phone"></i></td>
                    <td>
                        <h4>consultation</h4>
                        <p>We will discuss with you what you are looking for in a logo, what you want your logo to accomplish, and who your target audience is. Need help understanding your logo options and what style is best for your business? Watch the video <a href="http://bit.ly/1c2Rmdh" target="_blank">What are the 5 Logo Styles?</a></p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-globe"></i></td>
                    <td>
                        <h4>research & planning</h4>
                        <p>We will research your industry, learn about your business and become familiar with your target audience (positioning your brand for success).</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-pencil"></i></td>
                    <td>
                        <h4>designing the logo</h4>
                        <p>Sketching begins!  We always start on paper and pencil and then move to the computer to design three custom logo designs for you to choose from.  You’ll then be able to preview your design options in an easy to view, side by side format on the Skyberry dashboard.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-wrench"></i></td>
                    <td>
                        <h4>refinements & finalization</h4>
                        <p>You tell us which logo design you like best and ask for any refinements you would like to see made. You tell us when the logo is ready to finalize.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-giftbox"></i></td>
                    <td>
                        <h4>polish & delivery</h4>
                        <p>The logo is finished, yay!  We polish it up and all your final logo files are delivered to you in vector format and ready-to-use JPEG and PNG formats. You also receive an identity guideline that includes all your color values, typefaces and other important useage information.</p>
                    </td>
                </tr>
            </table>
        </div>
	
	
    <div class="col-xs-12 pull-left break">
        <h3 class="q">How can a website benefit my business?</h3>
        <div class="a">Even the simplest website describing the business and giving visitors contact information, much like an online business card, can help you reach potential customers.  25 million people worldwide surf the web daily and 60% of Americans use the internet, without a website, you could be missing out on potential customers.  While an online business card style website is a good starting point, the type of business you have should dictate the size and scope of your website. </div>
    </div>
	
	<div class="col-xs-12 pull-left break">
            <h3>What can I expect from the Website Design &amp; Development Process?</h3>
            <p>Our process is simple and fine tuned from years of experience.</p>
        </div>

        <div class="col-xs-12 pull-left">
            <table id="tbl-design-process">
                <tr>
                    <td><i class="icon-phone"></i></td>
                    <td>
                        <h4>Consultation</h4>
                        <p>We will discuss with you what you are looking for in a website, what you want your website to accomplish and any advanced features you may need such as a shopping cart or a content management system.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-globe"></i></td>
                    <td>
                        <h4>Research &amp; Planning</h4>
                        <p>We will research your industry, learn about your business and your competition (to make sure you rise above the other guy) and begin planning the websites design & structure.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-pencil"></i></td>
                    <td>
                        <h4>Designing the Website</h4>
                        <p>We design three custom web designs for you to choose from.  You’ll then be able to preview your design options in an easy to view, side by side format on the Skyberry dashboard. You tell us which web design you like best and ask for any refinements you would like to see made.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-wrench"></i></td>
                    <td>
                        <h4>Building the Website, Refinements &amp; Finalization</h4>
                        <p>Production begins! The development team takes the reigns and begins building your website.  You will have access to a staging server to view your website and click around to your hearts content. You can relay to us any desired refinements and you tell us when you are ready to go live.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-giftbox"></i></td>
                    <td>
                        <h4>Packaging &amp; Delivery</h4>
                        <p>Your website is finished, yay! We'll promote the website to your production hosting service (yoursite.com), confirm it's functionality, and package &amp; deliver all source files to you.</p>
                    </td>
                </tr>
            </table>
        </div>
	
	
	
    <div class="col-xs-12 pull-left break">
        <h3 class="q">How can social media benefit my business?</h3>
        <div class="a">Social media is growing more popular each year and is a great way to interact with your customers, in addition to advertising your products and/or services to an engaged and growing global audience. In 2013, 35% of customers said they want to look at a business on Facebook, Twitter or LinkedIn before buying.  Of those, 70% said they wouldn’t buy from a company who didn’t have a social media presence.   </div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">How do I know if I need a website redesign?</h3>
        <div class="a">If you have thought to yourself that your logo or website feels dated, chances are potential customers have thought it too and a redesign could greatly benefit your business.  A modern, professionally designed logo in conjunction with an easy-to-use, attention grabbing website could drastically increase your conversion rate and offer you boat loads of new business. So what are you waiting for? </div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">What forms of payment do you accept?</h3>
        <div class="a">
            <img src="~/images/paypal-verified.png" style="float:right;margin:0 0 0 20px;width:100px;" />
            We accept all major credit cards including Visa, MasterCard, American Express and Discover. We also accept PayPal and checks made payable to 'Skyberry Studio'. Skyberry Studio™ is a Verified Member of PayPal and provides a secure way to pay online.
        </div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">What is your billing policy?</h3>
        <div class="a">Skyberry Studio's invoices are due NET 15 and can be paid online or by check.  For new projects, payment must be received prior to the project start date in order for work to commence.  You can refer to your contract for your projects scheduled start date and payment terms.</div>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3 class="q">How does a contract benefit me?</h3>
        <div class="a">Our standard agreement ensures that we deliver what was promised, for the price quoted, and within the timeframe outlined. We sincerely value our clients and always operate under the ‘Golden Rule'.</div>
    </div>
	
	<div class="col-xs-12 pull-left break">
            <h3>What can I expect from the software development process?</h3>
            <p>Lots of practical real world experience tells us it is best to be flexible in the development process. Factors such as project size, timeframe, budget, as well as the clients availability and involvement must be taken into account. All that said, we approach software development using an iterative process based on the Agile methodology.  In general, each cycle is composed of the following;</p>
        </div>

        <div class="col-xs-12 pull-left">
            <table id="tbl-design-process">
                <tr>
                    <td><i class="icon-phone"></i></td>
                    <td>
                        <h4>Consultation &amp; Discovery</h4>
                        <p>Defining what the system must do is the first step. Gathering requirements and long term goals, gives us a road map from wich we create a functional specification document. Once agreed upon, we use this specification to move into designing a solution.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-pencil"></i></td>
                    <td>
                        <h4>Analysis &amp; Design</h4>
                        <p>Using the Functional Specification, we can construct a detailed design and project plan. We work together to make decisions on platform, architecture, components and tools. We create documents, models and prototypes to serve as a technical guide throughout the project. At this point, all components of the system will be described in detail as well as how they will work together.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-wrench"></i></td>
                    <td>
                        <h4>Coding &amp; Testing</h4>
                        <p>We now begin building out the system! Rapid application development principles, nightly builds, and continual testing ensure a robust product in the shortest period of time. Review and testing is performed by you, the client, at key milestones.</p>
                    </td>
                </tr>
                <tr>
                    <td><i class="icon-giftbox"></i></td>
                    <td>
                        <h4>Deployment &amp; Integration</h4>
                        <p>Once the system is tested, we deliver source code, setup installers/scripts, and appropriate instructions. We can deploy and perform all required integrations or handoff the solution to your team, providing any additional support necessary to ensure a smooth and successful launch.</p>
                    </td>
                </tr>
            </table>
        </div>
	

</div>
