@{
    ViewBag.Title = "Design Tools &amp; Resources";
}
@section meta_tags
{
    <meta name="description" content="Design tools and resources we recommend to our clients.  From hosting provider recommendations to video tutorials." />
}
@section nav_top
{
    @Html.Partial("_NavTopPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}
@section nav_bottom
{
    @Html.Partial("_NavBottomPartial", new Skyberry.Admin.ViewModels.NavVM(""))
}





<div class="container fixed section">
    <div class="col-xs-12 pull-left">
        <h1>Tools &amp; Resources</h1>
        <p>As you can imagine, Skyberry is often required to work with other products and services in order to create the best possible solutions for our clients. Our experience with a few of these products and services is so consistently great, that we feel secure in recommending them to you.</p>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3>GoDaddy - Domain Names, Website Hosting, and Email</h3>
        <p>
            <a href="http://x.co/skyberry" title="save 30% on hosting and domains" target="_blank" style="width:150px;float:left;margin:0 20px 10px 0;"><img src="~/images/godaddy-save-30-percent.png" style="border:1px solid #999;" /></a>
            Save on the world's most popular domain names, web hosting you can trust, email, SSL certificates and much more! All services come with free 24/7 phone and email support from the winner of the 2012 About.com Readers' Choice Awards for <strong><em>'Best Hosting Provider'</em></strong>.
        </p>
        <p>
            Save 30% off your order, <a href="http://x.co/skyberry" title="save 30% on hosting and domains" target="_blank">click here</a>!
        </p>
    </div>
    <div class="col-xs-12 pull-left break">
        <h3>Shopify - Online Stores</h3>
        <p>
            <a href="http://www.shopify.com/?ref=skyberry-studio" target="_blank" style="width:150px;float:left;margin:0 20px 10px 0;"><img src="~/images/shopify-online-stores.png" style="border: 1px solid #999;" /></a>
            Shopify powers over 90,000 successful stores. Shopify makes it easy to open an online store by providing all the tools and help you need.
        </p>
        <p><a href="http://www.shopify.com/?ref=skyberry-studio">Click here to try it for free!</a>
        </p>
    </div>
</div>




