@import (reference) '../site.less';


#blog {
  min-height: 300px;

  section {
    padding-bottom: 40px;
  }
  article {
    padding-bottom: 40px;
    border-bottom: 1px solid #f7f7f7;

    header {
      margin-bottom: 20px;

      a, a:visited, a:focus {
        color: @yellow;
      }
      a:hover {
        color: @orange;
      }
      h1 {
        display: inline;
        margin: 0;
      }
    }
    footer {
      margin-top: 10px;

      .tags-wrap {
        .title {
          font-weight: bold;
          margin-right: 5px;
        }
        .tags > span:after {
          content: ', '
        }
        .tags > span:last-child:after {
          content: ''
        }
      }
    }
  }
}
