@import (reference) '../site.less';


#blog {
  min-height: 300px;

  section {
    padding-bottom: 40px;
  }
  article {
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;

    a {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    img {
      width: 100%;
      max-width: 640px;
      height: auto;
    }

    header {
      margin-bottom: 20px;

      a, a:visited, a:focus {
        color: @yellow;
      }
      a:hover {
        color: @orange;
      }
      h1 {
        display: inline;
        margin: 0;
      }
    }
    footer {
      margin-top: 20px;

      .tags-wrap {
        .title {
          font-weight: bold;
          margin-right: 5px;
        }
        .tags > span:after {
          content: ', '
        }
        .tags > span:last-child:after {
          content: ''
        }
      }
    }
  }

  .pager {
    .previous {
      float: left;
    }
    .next {
      float: right;
    }
    .btn {
      // border-radius: 15px;
    }
  }
}
