#sidebar_wrap h4 {
  margin: 15px 0;
}
.header {
  margin-bottom: 10px;
}
#blog_wrap {
  position: relative;
  width: 910px;
}
#posts_wrap {
  position: relative;
  vertical-align: top;
  width: 600px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border-right: 1px solid #DCF1F9;
}
#sidebar_wrap {
  position: relative;
  vertical-align: top;
  width: 280px;
  padding-left: 20px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/*----------------------------
                        Menu
----------------------------*/
#blog_menu {
  background: #DCF1F9;
  border: 1px solid #ffffff;
  margin-bottom: 20px;
  padding: 10px;
}
#blog_menu a {
  display: inline-block;
  padding: 5px;
  margin-right: 15px;
  font-family: "myriad-pro-semi-condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #79868A;
  cursor: pointer;
  text-decoration: none;
}
#blog_menu a:hover {
  background-color: #fff;
}
#blog_menu a.apmlfilter {
  padding-left: 15px;
  background: url(../../pics/apml.png) no-repeat left 14px;
}
#blog_menu .login {
  float: right;
  margin-right: 10px;
  padding-left: 16px;
}
#blog_menu .login span {
  color: #666;
  padding-right: 5px;
}
#blog_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#blog_menu ul li {
  display: inline;
}
#blog_menu ul li a.feed img {
  margin-right: 3px;
  margin-bottom: -2px;
}
/* ------------------------------------------------------------------------------
        B L O G   P O S T
--------------------------------------------------------------------------------- */
.post_wrap {
  margin: 5px 20px;
}
.post {
  padding: 20px;
  width: 520px;
  overflow: hidden;
  margin-bottom: 20px;
}
h2 {
  margin: 0px;
}
.post_title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin: 0px;
}
p.date_info {
  margin: 0px 0px 0px 25px;
}
.post_wrap .post_foot {
  margin: 20px 0px;
  padding: 10px 0xp;
  width: 520px;
  border-top: dashed 1px #4C4C4C;
}
.post_wrap .foot_item {
  margin-right: 10px;
  color: #79868A;
  font-size: 14px;
  font-weight: normal;
}
.post_wrap .foot_item a {
  color: #79868A;
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.post_wrap .foot_item a:hover {
  text-decoration: underline;
  cursor: pointer;
}
.share_button {
  margin-top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/images/iconset-blog.png) no-repeat left !important;
  overflow: hidden;
  margin-left: -1;
}
.sb_email {
  background-position: 0px -40px !important;
}
.sb_email:hover {
  background-position: 0px -20px !important;
}
.sb_twitter {
  background-position: -40px -40px !important;
}
.sb_twitter:hover {
  background-position: -40px -20px !important;
}
.sb_face {
  background-position: -20px -40px !important;
}
.sb_face:hover {
  background-position: -20px -20px !important;
}
.sb_goog {
  background-position: -60px -40px !important;
}
.sb_goog:hover {
  background-position: -60px -20px !important;
}
.sb_sub {
  background-position: -80px -40px !important;
}
.sb_sub:hover {
  background-position: -80px -20px !important;
}
#relatedPosts,
.disqus_box,
#disqus_thread {
  margin: 0px 40px;
}
