@model Skyberry.Admin.ViewModels.ImageVM

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Delete Image";
}

<h2>Delete Image</h2>
<hr />

<h3>Are you sure you want to delete this?</h3>
<div>
    @Html.Partial("_ImageDetailsPartial", Model)

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@Html.Partial("_RelatedTagsPartial", Model.Image.Tags.ToList())
