@model Skyberry.Admin.ViewModels.ImageVM

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Image Details";
}

<h2>Image Details</h2>
<hr />

<div>
    @Html.Partial("_ImageDetailsPartial", Model)
</div>

<p class="pad-full">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Image.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@Html.Partial("_RelatedTagsPartial", Model.Image.Tags.ToList())
